.root{
	/*-fx-background: #181712;*/
	-fx-background-color: linear-gradient(to left, #e52d27 , #b31217);
}


.text-flow {
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: black;
}

.main{
	-fx-background-color: rgba(255, 255, 255, 0.10);
}

.scroll-pane > .viewport{
   -fx-background-color: transparent;
}

.scroll-pane, .list-view  {
	-fx-background-radius: 5px;
	-fx-background-color: rgba(255, 255, 255, 0.40);
}

